.b-news-widget {}
.b-news-widget h2 {}
.b-news-widget .item {margin:5px 0 15px 0; padding:0 0 10px 0; clear:left}
.b-news-widget .item h3 {margin-top: 10px; text-transform: none; font-size: 20px; margin-bottom: 5px;}
.b-news-widget .date {font-size:10px;}
.b-news-widget .text {font-size:12px; margin:3px 0 0 0}
.b-news-widget .more {font-size:12px; text-align:right; clear:left; display:none}
.b-news-widget h3 {margin-bottom: 30px; margin-top: 25px;}
.b-news-widget a:link, .b-news-widget a:visited {}
.b-news-widget a:hover {text-decoration:none}
.b-news-widget .rss {margin:0 0 0 10px}
.b-news-widget .rss img {vertical-align:baseline}
.b-news-widget .addYandex {position:relative; margin:0 0 0 5px; vertical-align:baseline}
.b-news-widget .addYandex img {clip: rect(60px, 428px, 76px, 400px); position:absolute; top:-57px; left:-400px; vertical-align:baseline}
.b-news-widget .photo {margin:6px 6px 0 0; float:left}
.b-news-widget .photo img {width:100px}
.b-news-widget .archive {margin:-5px 0 20px; clear:left}